body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}



/* Navbar-Icons */

.Navbar {
    background-image: linear-gradient(to left , rgb(84, 84, 235),rgb(58, 131, 204),rgb(100, 100, 235));
}
.about-another a {
    margin-right: 20px;
}
.about-other a {
    padding-left: 15px;
}




/* Media - for Navbar-Icons  */

@media (max-width:1200px) {
    .about-another {
        display: none;
    }
    .about-other {
        display: none;
    }
    hr {
        display: none;
    }
}







/* Col-2 */

.row-1 .col-lg-6 a {
    color: white;
}
.row-1 .col-lg-6 a:hover {
    opacity: 0.8;
}
.row-1 .col-lg-6 button {
    outline: 0;
    border: 0;
}

/* OffCanvas */

.navbar-toggler {
    font-size: 30px;
    margin-right: 20px;
    outline: 0;
    border: 0;
}
.offcanvas-body li > a:hover {
    transition: 0.5s;
    padding-left: 10px;
}
.offcanvas-header button:hover {
    transition: 1s;
    transform: rotate(360deg);
}


/* Search-box */

.search-box {
    background: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.8s;
}
.search-box .input_box {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}
.search-box {
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.8s;
}
.search-box:hover .input_box {
    width: 150px;
    cursor: pointer;
}
.search-box .input_box {
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 0;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}



/* Navbar-Box */


.navbar-box {
    margin-top: 10px;
    background: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.8s;
}
.navbar-box .input_box {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}
.navbar-box {
    background: #fff;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.8s;
}
.navbar-box:hover .input_box {
    width: 200px;
    cursor: pointer;
}
.navbar-box .input_box {
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 0;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}


/* Media for Navbar */
/* ===================---=====================---====================---=======================---================== */
@media (max-width: 990px) {
    .Navbar {
        padding: 10px;
    }
    .row-1 {
        padding: 10px;
    }
    .row-1 .col-lg-2 {
        display: none;
    }
    .row-1 .col-lg-3 {
        display: none;
    }
    .navbahor {
        display: none;
    }
    .navbar-nav .nav-item {
        display: flex;
        flex-direction: column;
    }
}





/* HEADER */
header {
    width: 100%;
    height: 0 auto;
    padding-bottom: 20px;
}


/* Title-Image - Image-14 */

.image-14 {
    width: 100%;
    height:450px;
    background-image: url(images\ —\ копия/baymarket/main/image14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    margin-top: 5%;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
}

.image-14 .lead {
    padding-right: 120px;
}

.image-14 .sliders {
    padding-top: 22%;
}

/* Rights-Imgs - Image - 15 = Image - 16 */


.image-15 {
    width: 100%;
    height: 215px;
    background-image: url(images\ —\ копия/baymarket/main/image15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    margin-top: 9%;
}

.image-15 .btn {
    height: 50px;
    opacity: 0.7;
    border-radius: 10px;
}

.image-16 {
    width: 100%;
    height: 215px;
    background-image: url(images\ —\ копия/baymarket/main/image16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    margin-top: 5%;
}

.image-16 .btn {
    height: 50px;
    opacity: 0.7;
    border-radius: 10px;
}

@media (max-width: 990px) {
    .image-14 {
        height: 300px;
    }
    .image-14 h1 {
        font-size: 25px;
    }
    .image-14 p {
        font-size: 20px;
    }
    .image-14 .sliders {
        margin-top: -70px;
        font-size: 15px;
    }
    .image-15 {
        height: 150px;
    }
    .image-16 {
        height: 150px;
        margin-top: 9%;
        font-size: 10px;
    }
    .image-16 button {
        font-size: 14px;
    }
    .row-1 .col-lg-6  {
        border: 0;
        outline: 0;
    }
    .row-1 .col-lg-6 .navbar-toggler {
        display: flex;
        justify-self: end;

    }
}
@media (max-width:768px) {
    .image-14 {
        height: 200px;
        padding-top: 30px;
    }
    .image-14 h1 {
        font-size: 20px;
    }
    .image-14 p {
        font-size: 15px;
    }
    .image-14 .sliders {
        margin-top: -60px;
        font-size: 10px;
    }
    .image-16 {
        padding: 20px;
    }
    .image-16 .btn {
        padding: 0;
    }
    .image-16 .btn b {
        padding: 0;
        font-size: 12px;
    }
    .image-15 .btn b {
        padding: 0;
        font-size: 12px;
    }
}








/*=========================== Section - 1 ========================*/

section {
    height: 0 auto;
    width: 100%;
}
.row-2 .col-lg-12 {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}
.categoriy-borders {
    margin-bottom: 30px;
}
.border-1 {
    height: 100%;
    width: 100%;
    background-image: url(images\ —\ копия/baymarket/categories/border1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 1s;
    overflow: hidden;
}
.categoriy-borders:hover {
    transition: 0.2s;
    padding: 5px;
}
.border-2 {
    height: 100%;
    width: 100%;
    background-image: url(images\ —\ копия/baymarket/categories/border2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.border-3 {
    height: 100%;
    width: 100%;
    background-image: url(images\ —\ копия/baymarket/categories/border3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.border-4 {
    height: 100%;
    width: 100%;
    background-image: url(images\ —\ копия/baymarket/categories/border4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width:720px) {
    .row-2 .border-text {
        border-radius: 5px;
    }
    .row-2 .categoriy-borders h4 {
        font-size: 17px;
    }
}






/* ===============Aside================ */
.row-3 .col-lg-12 {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}
.col-lg-12 a {
    color: purple   ;
}
.row-3 .new-products {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.row-3 .new-product {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.row-3 .new-products .new {
    border-radius: 50%;
}

@media (max-width:1200px) {
    .row-3 .new-products {
        height: 520px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:768px) {
    .row-3 .new-products {
        height: 820px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}






/* Tezkor-Sotuv */

.title-other span {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.cards .card {
    border-radius: 10px;
    overflow: hidden;
}
.cards .card .card-body .span {
    position: absolute;
    width: 100%;
}
.cards .card .card-body span {
    background-color: palevioletred;
    border-radius: 10px;
    color: #fff;
    padding: 8px;
}

@media (max-width:1200px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .row-4 .col-lg-12 a {
        display: none;
    }
}



/* Company */
.img-company img {
    opacity: 0.5;
    padding: 10px;
}

@media (max-width:800px){
    .company {
        display: none;
    }   
}



/* Buy-img */
.buy-img-text {
    height: 250px;
    border-radius: 20px;
    background-image: url(images\ —\ копия/fc33a66ccdf36c955b712c8bdd58bd76.png);
    background-size: contain;
    opacity: 0.6;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}






/* Choose-product */
.choose-products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50px 430px;
    grid-gap: 20px;
}
.choose-products a:hover {
    color: #09f;
}
.choose-products .border {
    border-radius: 20px;
    overflow: hidden;
}
.main-bg {
    height: 500px;
    background-image: linear-gradient(to left,#08f,#09f,#eee);
    border-radius: 20px;
    overflow: hidden;
}
.product1 {
    grid-row-start: 1;
    grid-row-end: 3;
}
.product2 {
    grid-column-start: 2;
    grid-column-end: 5;
}
.product2 small {
    color: purple;
} 
.product3 .span {
    width: 100%;
    display: flex;
    justify-content: end;
    top: 0;
}
.product3 .card-body span {
    background-color: rgb(122, 40, 122);
    border-radius: 10px;
    border: none;
    padding: 8px;
    color: #fff;
}

.product4 .span {
    width: 100%;
    display: flex;
    justify-content: end;
    top: 0;
}
.product4 .span1 {
    border-radius: 8px;
}
.main-bg .img-1 {
    height: 150px;
}
.main-bg .img-2 {
    height: 100px;
    padding-left: 40px;
}

@media (max-width: 1200px) {
    .choose-products {
        display: grid;
        grid-template-rows: 260px 50px 300px;
    }
    .product1 {
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .product2 {
        grid-column: 1/5;
    }
    .product3 {
        grid-column: 1/3;
    }
    .product4 {
        grid-column: 3/5;
    }
    .product5 {
        grid-column: 1/3;
    }
    .main-bg {
        height: 250px;
    }
}
@media (max-width: 768px) {
    .choose-products {
        display: grid;
        grid-template-rows: 250px 50px 300px;
    }
    .choose-products .card-footer {
        width: 200px;
    }
    .choose-products .card-footer .spanes {
        padding-top: 70px;
    }
    .product1 {
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .product2 {
        grid-column: 1/5;
    }
    .product3 {
        grid-column: 1/5;
        display: flex;
        justify-content: center;
    }
    .product4 {
        grid-column: 1/5;
        display: flex;
        justify-content: center;
    }
    .product5 {
        grid-column: 1/5;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .product5 .card-body {
        width: 200px;
    }
    .main-bg {
        height: 240px;
    }
} 

/*  */
.new-price-product {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.new-price-product .border {
    border-radius: 20px;
    overflow: hidden;
}
.product2-img img {
    border-radius: 20px;
}

@media (max-width:1200px) {
    .new-price-product {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:650px) {
    .new-price-product .col-lg-12 h3,b {
        font-size: 18px;
    }
    .new-price-product {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .new-price-product .border {
        padding: 0;
    }
}






/* .footer */
.footer {
    height: 0 auto;
}
.footer-mains {
    padding-top: 50px;
}
.input-footer {
    border-radius: 10px;
    overflow: hidden;
    width: 65%;
}
.input-footer input {
    border: none;
    outline: none;
}
.input-footer button {
    float: right;
    margin-top: 10px;
}

@media (max-width :768px) {
    .footer {
        padding: 15px;
    }
    .footer .footer-icon {
        display: none;
    }
    .footer .footer-tekst {
        padding: 10px;
    }
    .footer-search {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 60px;
        padding-bottom: 40px;
    }
    .footer-search .btn {
        margin-bottom: 10px;
        padding: 10px;
    }
}
@media (max-width :768px) {
    .footer-tekst {
        text-align: center;
    }
    .input-footer {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        margin-top: 20px;
    }
    .last-footer .col-lg-10 {
        text-align: center;
    }
    .last-footer .col-lg-2 {
        display: none;
    }
}



@media (max-width:1000px) {
    footer .row {
        display: none;
    }
}